main
{
    position: relative;
    bottom: 3.25rem;
}

body
{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

a
{
    text-decoration: none;
}

.menu__link:hover
{
    color: var(--text-color-hover);
}
.section
{
    position: relative;
    background-color: #ffffff;
    /* width: 100%; */
    padding-top: 30px;
    padding-bottom: 45px;
}

.menu__link {
    display: flex;
    align-items: center;
    font-size: 0,9375rem;
    line-height: 130%;
    color: var(--text-color);
}

.main__name
{
    color: var(--bg-color);
    width: 632px;
    height: 86px;
    left: calc(50% - 632px/2);
    top: -6.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
}

.orange__text
{
    color: var(--alt-color);
}
.orange__text:hover
{
    color: var(--alt-color-hover);
}


.text-primary {
    color: var(--alt-color);
}

.text-title
{
    color: var(--title-color);;
}


.list-reset
{
    list-style:none;
    padding: 0;
    margin: 0;
}

.menu
{
    display: flex;
}

.container
{
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

.item
{
   padding: 1.25rem;
}

.fist-screen
{
    padding-top: 0;
    width: 100%;
    height: 840px;
    background-image: url("/img/graphics/BackgroundBase.png");
    background-position:center;
    background-size:contain;
}

.location__name
{
    position: relative;
    width: 632px;
    height: 266px;
    left: calc(50% - 632px/2 - 28.8px);
    top: 16.625rem;

}

.social li
{
    margin-right: 1em;
}

.header__line
{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 0.5% 0 0.5% 0;
}
.header__social
{
    display: flex;
   margin-right: 1em;
}

.decoration
{
    position: absolute;
    width: 31.25rem; 
    height: 31.25rem;
    border-radius: 50%;
    
}
.decor__back
{
    left: calc(50% - 31.25rem/2 - 1.875rem);
    bottom: calc(50% - 31.25rem/2 - 1.875rem);
        border-style: none;
        background-color: #222;
        opacity: 0.9;
}

.decor__border
{
    left: calc(50% - 31.25rem/2);
    bottom: calc(50% - 31.25rem/2);
        border-style: solid;
        border-color: var(--text-color-hover);
        border-radius: 50%;
        opacity: 0.2;
}

.decor__semicircle
{
    display:block;
    background-size:cover;
    position:absolute;
    background-image: url(/img/graphics/OImage.png);
    width: 15%;
    padding-top: 15%;
}

.decor__planet
{
    display:block;
    background-size:cover;
    position:absolute;
   
    background-image: url(/img/graphics/NewPlanet.png);
    
}

.planet__small
{
    left: 80%;
    top: 7%;
    width: 20%;
    padding-top: 20%;
}

.planet__large
{
    display: block;
    object-fit: cover;
    position: absolute;
    left: 60%;
    bottom: 0%;
    width: 70%;
    height: 31.25rem;
    padding-top: 3%;
}

.btn__line
{
    
    position: relative;
    left: calc(50% - 31.25rem/2 + 3.5rem);
    bottom: calc(50% - 31.25rem/2 + 3.5rem);
    display: flex;
    
}

.decor__x
{
    background-image: url(/img/graphics/XImage.png);
    display: block;
    background-size: cover;
    position: absolute;
}

.x__one
{
    width: 3%;
    padding-top: 3%;
    left: 5%;
    top: 85%;
}

.x__second
{
    width: 2%;
    padding-top: 2%;
    left: 85%;
    top: 45%; 
}

.btn
{
    height: 3.5rem;
    width: 9.75rem;
    margin-left: 1.5rem;
    background-color: var(--alt-color);
    border-color: var(--alt-color);
    border-style: solid;
    border-width: 4px;
    color: var(--bg-color);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    
}

.btn__other
{
    background-color:#222;
}


:root 
{
    --text-color: #222;
    --text-color-hover: #888888;
    --primary-color: #CACACA;
    --alt-color: #FD8558;
    --alt-color-hover: #e34309;
    --bg-color: #ffffff;
    --section-color: #DAF1F9;
    --title-color:#F7F7F7
}

*, *::before, *::after {
    box-sizing: border-box;
}

.test-screen
{
    margin: 0 auto;
    /* background-color: #f0f0f0; */
}

.test-title, .test-col
{
    text-align: left;
}

.test-title
{
    /* background-color: #f1f; */
    
    width: 1200px;
    margin: 0 auto 0 0;
    font-weight: 400;
    font-size: 9.375em;
    line-height: 145px;
    letter-spacing: 0.1px;
}

.test-title__orange
{
    width: 100%;
    /* background-color: #f0f0f0; */
    color: var(--alt-color);
    font-size: 14px;
    text-align: start;

}

.test-title__black, #tb__graytext
{
    padding: 0 34px 0 60px;
}

.test-textbox__largetext, .test-botton-flow
{
    padding: 0 50px;
}

.test-title__black
{
    width: 100%;
    /* background-color: #f0f0f0; */
    color: #222;
    font-size: 18px;
    text-align: start;
    margin-top: 0;
    margin-top: 15px;
}

.test-textbox
{
    width: 100%;
    /* background-color: #dbd5d5f1; */
    font-size: 40px;
    line-height: 54px;
    margin: 0;
    padding-right: 20%;
}

.test-textbox__graytext
{
    width: 100%;
    /* background-color: #dbd5d5f1; */
    font-size: 15px;
    color: #999;

}

.test-textbox__largetext
{
    margin-top: 55px;
    font-weight: 400;
    font-size: 26px;
    line-height: 45px;
}

.test-textbox__autor
{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.test-row
{
    display: flex;
    /* background-color: #f2f2; */
    padding: 0 7%;
    justify-content: center;
}

.test-screen
{
    /* background-color: #aaa; */
    height: auto;
}

.test-col
{
    /* background-color: #cac2ca; */
    width: 600px;
    margin: 10px;

    font-size: 0;
}

.test-card_image
{
    display:block;
    background-size:cover;
    background-image: url(/img/content/OfficeDemonstration.jpg);
    background-position: left center;
    width: 100%;
    height: 100%;
}

.test-botton-flow
{
    margin-top:80px;
    /* background-color: #c123; */
}
