/* Standart elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  position: relative;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

p,a {
    color: var(--text-color);
}

:root {
  --text-color: #222;
  --text-color-hover: #888888;
  --text-small-color: #999;
  --link-color:#bababa;
  --primary-color: #cacaca;
  --color-orange: #fd8558;
  --color-orange-hover: #e34309;
  --bg-color: #ffffff;
  --section-color: #daf1f9;
  --title-color: #dddddd;
  --color-purple: #3a0f73;
  --color-green: #70b446;
}



/* ID */
#title-right {
  text-align: right;
}

#center {
  text-align: center;
  margin: 0 auto;
  padding: 1% 0;
}

#center-padding {
  text-align: center;
  margin: 0 auto;
  padding: 20px 25%;
}

#text-center {
  text-align: center;
  margin: 1.25rem 0.625rem;
  padding: 0;
}

#left {
  justify-content: flex-start;
  align-items: center;
}



/* Class elements */

/* Font size and parameters*/

.size-title {
  font-size: 9.375rem;
}

.size-largest {
  font-size: 2rem;
}

.size-large {
  font-size: 1.5rem;
  line-height: 2.8125rem;
}

.size-medium {
  font-size: 1.125rem;
}

.size-small {
  font-size: 0.9375rem;
  font-weight: 100;
}

.item {
  font-size: 0.9375rem;
}

.logo {
    font-size: 2.5rem;
    margin: 0.7rem 0;
}

.social-icon:hover {
  opacity: 0.5;
}

.btn:hover {
  opacity: 0.7;
}

.l-spacing
{
  letter-spacing: 0.125rem;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}



/* Colorize */
.text-title {
  color: var(--title-color);
  opacity: 0.5;
}
.color__white {
    color: var(--bg-color);
}

.color__gray {
    color: var(--text-small-color);
}

.color__orange {
    color: var(--color-orange);
}

.nav-link:hover {
  color: var(--text-color-hover);
}

.link__orange:hover {
  color: var(--color-orange-hover);
}

.orange-cirlce {
  background-color: var(--color-orange);
}
.blue-cirlce {
  background-color: var(--color-purple);
}

.green-cirlce {
  background-color: var(--color-green);
}



/* Position class */


.dropdown {
  display: none;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  position: relative;
  padding-top: 1.875rem;
  padding-bottom: 2.8125rem;
}

.container {
  padding: 0 1.25rem;
  margin: 0 auto;
}

.hr-line {
  margin: 0.9375rem 0.3125rem;
  border-top: 0.125rem solid var(--primary-color);
}

.list-item-gap {
    padding: 1rem;
}

.social-icon {
  height: 1.875rem;
}

.nav-link {
  align-items: center;
}

.main__name {
  height: 5.375rem;
  font-style: normal;
  font-weight: 400;
  font-size: 4.375rem;
  line-height: 5.3125rem;
  text-align: center;
}

.item-main {
font-size: 1.5rem;
color: var(--link-color);
padding: 1.1875rem 0;
}

.item-other {
 padding: 0.5625rem 0;
}

.fist-screen {
  padding-top: 0;
  height: 52.5rem;
  background-image: url("/img/graphics/BackgroundBase.webp");
  background-position: center;
  background-size: contain;
  overflow: hidden;
}

.location__name {
  position: relative;
  width: 39.5rem;
  left: calc(50% - 36.375rem / 2 - 1.8rem);
  top: 16.625rem;
}

.header__line {
    align-items: center;  
}

.btn__line {
  text-align: center;
  margin: 20% auto 0 auto;
}

.btn {
  height: 3.5rem;
  width: 9.75rem;
  background-color: var(--color-orange);
  border-color: var(--color-orange);
  border-style: solid;
  border-width: 0.25rem;
  font-weight: 700;
}

.btn__other {
  background-color: #222;
  margin-left: 1.25rem;
}

.second-screen {
  margin: 0 auto;

}

.title,
.col {
  text-align: left;
}

.title {
  margin: 0 auto 0 0;
  font-weight: 400;
  font-size: 9.375em;
  line-height: 9.0625rem;
}

.title__orange {
  text-align: start;
}

.title__black,
#tb__graytext {
  padding: 0 5% 0 5%;
}

.textbox__largetext,
.botton-flow {
  padding: 0 3.125rem;
}

.title__black {
  text-align: start;
  margin-top: 0;
  margin-top: 0.9375rem;
}

.textbox {
  font-size: 2.5rem;
  line-height: 3.375rem;
  margin: 0;
  padding-right: 20%;
}

.textbox__largetext {
  margin-top: 3.4375rem;
  font-size: 1.625rem;
  line-height: 2.8125rem;
}

.textbox__autor {
  font-size: 1.25rem;
}

.second-screen {
  height: auto;
}

.col {
  width: 37.5rem;
  margin: 0.625rem;
}

.card_image {
  background-size: cover;
  background-image: url(/img/content/OfficeDemonstration.webp);
  background-position: left center;
  height: 100%;
}

.botton-flow {
  margin-top: 5rem;
}

.card-content {
  margin: 0.625rem;
}

.icon-card {
  width: 4.6875rem;
  height: 4.6875rem;
  margin: 0 auto;
}

.icon__buttonright {
  position: relative;
  bottom: 3.4375rem;
  left: 0.625rem;
}

.checkboxes {
  height: 2.875rem;
  width: 2.875rem;
  border-style: none;
  margin-right: 4%;
}

.bar-illustration {
  width: 90%;
  margin-right: 10%;
}
.bar-design {
  width: 80%;
  margin-right: 20%;
}
.bar-development {
  width: 95%;
  margin-right: 5%;
}

.clear-tag {
  margin: 0.625rem;
  padding: 0;
}

.clear-tag__text {
  padding: 0;
  margin: 0;
}

.progressbar-text {
  text-align: start;
  width: 80%;
}



/* Dicoration */

.decoration {
  position: absolute;
  width: 31.25rem;
  height: 31.25rem;
  border-radius: 50%;
}

.decor__back {
  left: calc(50% - 31.25rem / 2 - 1.875rem);
  bottom: calc(50% - 31.25rem / 2 - 1.875rem);
  background-color: #222;
  opacity: 0.9;
}

.decor__border {
  left: calc(50% - 31.25rem / 2);
  bottom: calc(50% - 31.25rem / 2);
  border-style: solid;
  border-color: var(--text-color-hover);
  border-radius: 50%;
  opacity: 0.2;
}

.decor__semicircle {
  background-size: cover;
  position: absolute;
  background-image: url(/img/graphics/OImage.webp);
  width: 12.5rem;
  height: 12.5rem;
}

.decor__planet {
  background-size: cover;
  position: absolute;
  background-image: url(/img/graphics/NewPlanet.webp);
}

.planet__small {
  left: 80%;
  top: 7%;
  width: 9.375rem;
  height: 9.375rem;
}

.planet__large {
  object-fit: cover;
  position: absolute;
  right: -20%;
  bottom: -20%;
  width: 31.25rem;
  height: 31.25rem;
}

.decor__x {
  background-image: url(/img/graphics/XImage.webp);
  background-size: cover;
  position: absolute;
}

.x__one {
  width: 35px;
  height: 35px;
  left: 5%;
  top: 85%;
}

.x__second {
  width: 2.1875rem;
  height: 2.1875rem;
  left: 80%;
  top: 45%;
}

.circle {
  position: relative;
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 50%;
  opacity: 0.2;
}

.progressbar-back {
  background-color: #eeeeee;
  height: 10px;
}

.progressbar-front {
  position: relative;
  bottom: 0.625rem;
  background: linear-gradient(90deg, #ff4803 0%, #ffae35 59.74%);
  height: 0.625rem;
}

.center-screen {
  padding-top: 3.5rem;
}

.color-container {
  margin-top: 5rem;
  background-color: var(--color-purple);
  padding: 4.6875rem 4.375rem 7.4375rem 4.375rem;
}

.color-container .row {
  align-items: center
}

.skills-position {
  position: relative;
  padding: 0;
}

.image-adapter {
  background-image: url(/img/people/PhotoAdaptor.webp);
  background-size: cover;
  width: 3.75rem;
  height: 3.75rem;
  margin-right: 0.9375rem;
}

.large-padding {
  padding: 0 25%;
}
.news-img {
    background-size: cover;
    width: 100%;
    height: 15.3125rem;
}

.img__one {
  background-image: url(/img/content/NewsOne.webp);
}

.img__two {
  background-image: url(/img/content/NewsTwo.webp);
}

.img__three {
  background-image: url(/img/content/NewsTree.webp);
}

.admin-info {
  width: 20%;
  margin-right: 10%;
}

.f-name, .f-email, .f-msg {
  width: 100%;
  height: 100%;
  text-align-last: left;
}

.footer-site {
  background-color: #111;
  padding: 5.625rem 9.375rem;
}

.info-field__header {
  margin: 0;
}

.info-field__text {
 margin: 0 0 45px 0;
}

.news-tag, .news-time{
  text-align: left;
  margin: 1,125rem 0.625rem 0 0;
  width: 30%;
}



/* Rows */

.nav-menu,
.nav-link,
.header__social {
  display: flex;
}

.header__line,
.footer-nav {
  display: flex;
  justify-content: space-around;
  margin: 0.5% 0 0.5% 0;
}

.row, .news-row, .feedback-row {
  display: flex;
  justify-content: center;
}

.card-opportunity__row {
  display: flex;
  padding: 0 7%;
  justify-content: space-around;
  margin: 7.5rem 7.5rem 0 7.5rem;
  align-items: flex-start;
}

.news-content {
    width: 22.5rem;
    margin: 0.9375rem;
    display: flex;
    flex-direction: column;
}

.works-row {
  display: flex;
  padding: 5% 10% 0 10%;
  justify-content: space-between;
  align-items: flex-end;
}

.cell-frame {
  display: flex;
  background-color: #f2eaea;
  opacity: 0.8;
  justify-content: space-between;
  align-items: center;
}

.cell {
  display: flex;
  flex-direction: column-reverse;
  padding: 1.25rem;
}

.progressbar-name {
  display: flex;
  align-items: center;
}

.team-cell-frame {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  text-shadow:0px 0px 0.25rem #606d88;
}

.footer-row {
  display: flex;
}



/* Grids */

.container-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0rem 0rem;
  grid-template-areas:
    "left-top-cell center-cell right-top-cell"
    "left-botton-cell center-cell right-botton-cell";
}

.center-cell {
  grid-area: center-cell;
  background-image: url(/img/content/ObliqueHouse.webp);
  background-size: cover;
  height: 48.125rem;
}

.left-top-cell {
  grid-area: left-top-cell;
  background-image: url(/img/content/Bag.webp);
  background-size: cover;
}

.left-botton-cell {
  grid-area: left-botton-cell;
  background-image: url(/img/content/StylishHouse.webp);
  background-size: cover;
}

.right-top-cell {
  grid-area: right-top-cell;
  background-image: url(/img/content/Differend.webp);
  background-size: cover;
}

.right-botton-cell {
  grid-area: right-botton-cell;
  background-image: url(/img/content/Bag.webp);
  background-size: cover;
}

.grid-team {
  display: grid;
  grid-template-columns: repeat(3, 21.875rem);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.875rem  1.875rem;
  grid-auto-flow: row;
  grid-template-areas:
    "l-t-cell c-t-cell r-t-cell"
    "l-b-cell c-b-cell r-b-cell";
    justify-content: center;
    margin-bottom: 1.25rem;
}

.l-t-cell {
  grid-area: l-t-cell;
  background-image: url(/img/people/PhotoAnnaBrown.webp);
  background-size: cover;
  height: 21.875rem;
}

.l-b-cell {
  grid-area: l-b-cell;
  background-image: url(/img/people/PhotoMargoKesslin.webp);
  background-size: cover;
  height: 21.875rem;
}

.c-t-cell {
  grid-area: c-t-cell;
  background-image: url(/img/people/PhotoAndryCrown.webp);
  background-size: cover;
  height: 21.875rem;
}

.c-b-cell {
  grid-area: c-b-cell;
  background-image: url(/img/people/PhotoKanyeJones.webp);
  background-size: cover;
  height: 21.875rem;
}

.r-t-cell {
  grid-area: r-t-cell;
  background-image: url(/img/people/PhotoKatyNecker.webp);
  background-size: cover;
  height: 21.875rem;
}

.r-b-cell {
  grid-area: r-b-cell;
  background-image: url(/img/people/PhotoMartaWhite.webp);
  background-size: cover;
  height: 21.875rem;
}

.feedback-info {
  display: grid;
  width: 55%;
  align-items: end;
  grid-template-columns: 40% 60%;
  grid-template-rows: 3.625rem 8rem 3.5rem;
  gap: 1.875rem 1.875rem;
  grid-auto-flow: row;
  grid-template-areas:
    "name-cell email-cell"
    "msg-cell msg-cell"
    "btn btn";
}

.name-cell {
  grid-area: name-cell;
  background-color: var(--color-purple);
  height: 100%;
}

.email-cell {
  grid-area: email-cell;
  background-color: var(--color-orange-hover);
  height: 100%;

}

.msg-cell {
  grid-area: msg-cell;
  background-color: var(--color-green);
  height: 100%;

}